<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/icomoon.css">
    <link rel="stylesheet" href="../css/index.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(function(){
            var num2=6;
            //第一步，通过$符代码分离
            $('ol li').mouseover(function(e){             //当鼠标移动到ol里面的li的时候，执行操作
                $(this).attr('class','current');         //当前的li它的类变为current,也就是样式发生变化
                $(this).siblings().attr('class','');      //当前li的兄弟li的类置空

                var num=$(this).index()      //获取到当前的ol li的index值
                //因为让图片从右边过来，所以一开始先让它位于当前图片的右侧，也就是left值=图片的width
                $('ul li').eq(num).css('left','1920px');
                num2++
                $('ul li').eq(num).css('z-index',num2);   //注意此处的num2是参数，不需要加''
                $('ul li').eq(num).animate({left:'0'},500);
            });
        })
    </script>
</head>
<body>
<!--网站顶部开始-->
<div class="web-top">
    <div class="wm-1200">
        <div class="notice-txt">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                <span style="font-family: 微软雅黑, 'Microsoft YaHei';">您好，欢迎来到农家乐！</span>
            </p>
        </div>
        <div class="top-login">
            <span id="loginstatus">
                <a class="dl" href="login">登录</a>
                <a class="zc" href="login">免费注册</a>
            </span>
        </div>
    </div>
</div>
<!--网站顶部结束-->

<!--搜索框开始-->
<div class="st-header">
    <div class="wm-1200">
        <div class="st-top-search">
            <input type="text" id="st-top-search" class="st-txt searchkeyword" placeholder="四川农家乐">
            <input type="button" value="搜索" class="st-btn">
        </div>
        <div class="st-link-way">
            <img class="link-way-ico" src="../images/24hours-ico.png" width="45" height="45">
            <div class="link-way-txt">
                <em>888-8888888</em>
            </div>
        </div>
    </div>
</div>
<!--搜索框结束-->

<!--导航开始-->
<div class="st-nav">
    <div class="wm-1200">
        <div class="st-global">
            <div class="global-bt">农家乐导航</div>
            <div class="global-list">
                <%province.forEach(function (provinces) {%>
                <div class="gl-list-tabbox">
                    <h3 class="">
                        <strong>
                            <em>
                                <img src="http://www.chengdukanghui.com/res/images/usernav.png">
                            </em>
                            <a href="http://www.chengdukanghui.com/lines/taiguo/" target="_blank"><%= provinces.province %></a>
                        </strong>
                        <p>
                            <% city.forEach(function (citys) {
                            if(provinces.provinceid==citys.provinceid) {%>
                            <a href="/lines/mangu/" target="_blank"><%=citys.city%></a>
                            <%}})%>
                        </p>
                        <i class="arrow-rig"></i>
                    </h3>
                    <div class="tabcon-item" >
                        <div class="item-list">
                            <% city.forEach(function (citys) {
                            if(provinces.provinceid==citys.provinceid) {%>
                            <dl>
                                <dt>
                                    <a href="/lines/mangu/" target="_blank"><%=citys.city%></a>
                                </dt>
                                <dd>
                                </dd>
                            </dl>
                            <%}})%>
                        </div>
                        <div class="ad-box">   </div>
                    </div>
                </div>
                <%  });%>
            </div>
        </div>
    </div>
</div>
<!--导航结束-->

<!--轮播图开始-->
<div class="st-focus-banners">
    <ul >
        <%farm.forEach(function (farms) {%>
        <li><img src=<%=farms.pic01%>>
            <%})%>
    </ul>
    <ol>
        <!--里面记得写数字，不然就只有空的方块了-->
        <li class="current">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol>
</div>
<!--轮播图结束-->

<!--热门农家乐开始-->
<div class="st-slideTab">
    <div class="st-tabnav">
        <div class="nav-header">
            <h3 class="hot">热门农家乐</h3>
        </div>
        <div class="fh5co-listing">
            <div class="container">
                <div class="row">
                    <%farm.forEach(function (farms) {%>
                    <div class="col-md-4 col-sm-4 fh5co-item-wrap">
                        <a class="fh5co-listing-item" onclick="hrefGallery(<%=farms.farmId%>)">
                            <img src=<%=farms.pic01%> alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
                            <div class="fh5co-listing-copy">
                                <h2><%=farms.area%></h2>
                                <span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
                            </div>
                        </a>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</div>
<!--热门农家乐结束-->

<!--特色农家乐开始-->
<div class="st-slideTab heg">
    <div class="st-tabnav">
        <div class="nav-header">
            <h3 class="hot">特色农家乐</h3>
        </div>
        <div class="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fh5co-news">
                        <ul>
                            <% farm.forEach(function (farms){ %>
                            <li>
                                <a href="#">
                                    <span class="fh5co-date">特色农家乐</span>
                                    <h3>简短介绍</h3>
                                    <p><%=farms.shortInfo%></p>
                                </a>
                            </li>
                            <%})%>
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<span class="fh5co-date">Sep. 10, 2016</span>-->
                                    <!--<h3>Newly done Bridge of London</h3>-->
                                    <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="col-md-6 fh5co-testimonial">
                        <% farm.forEach(function (farms){ %>
                            <img src=<%=farms.pic01%> style="width: 557px;height: 285px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive mb20">
                        <%})%>
                        <!--<img src="images/cover_bg_1.jpg" style="width: 557px;height: 285px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--特色农家乐结束-->

<!--底部开始-->
<div class="copy-right">
    <div class="container">
        <p>Copyright © 2018.特色农家乐 <a href="#" target="_blank" title="农家乐">农家乐</a> - Collect from <a href="#" title="农家乐" target="_blank">农家乐</a></p>
    </div>
</div>
<!--底部结束-->
<script>
    function hrefGallery(id) {
        console.log(id);
        var xmlRequest = new XMLHttpRequest();
        xmlRequest.open('get','http://localhost:8888/gallery?id='+id,true);
        xmlRequest.send();
        // xmlRequest.onreadystatechange=function () {
        //     if (xmlRequest.readyState == 4 && xmlRequest.status == 200) {
        //         var data = JSON.parse(xmlRequest.responseText);
        //
        //
        //     }
        // }
    }
</script>
</body>