<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/icomoon.css">
    <link rel="stylesheet" href="../css/index.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(function(){
            var num2=6;
            //第一步，通过$符代码分离
            $('ol li').mouseover(function(e){             //当鼠标移动到ol里面的li的时候，执行操作
                $(this).attr('class','current');         //当前的li它的类变为current,也就是样式发生变化
                $(this).siblings().attr('class','');      //当前li的兄弟li的类置空

                var num=$(this).index()      //获取到当前的ol li的index值
                //因为让图片从右边过来，所以一开始先让它位于当前图片的右侧，也就是left值=图片的width
                $('ul li').eq(num).css('left','1920px');
                num2++
                $('ul li').eq(num).css('z-index',num2);   //注意此处的num2是参数，不需要加''
                $('ul li').eq(num).animate({left:'0'},500);
            });
        })
    </script>
</head>
<body>
<!--网站顶部开始-->
<div class="web-top">
    <div class="wm-1200">
        <div class="notice-txt">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                <span style="font-family: 微软雅黑, 'Microsoft YaHei';">您好，欢迎来到农家乐！</span>
            </p>
        </div>
        <div class="top-login">
            <span id="loginstatus">

            </span>
        </div>
    </div>
</div>
<!--网站顶部结束-->

<!--搜索框开始-->
<div class="st-header">
    <div class="wm-1200">
        <div class="st-top-search">
            <input type="text" id="st-top-search" class="st-txt searchkeyword" placeholder="请输入地区">
            <input type="button" value="搜索" class="st-btn" onclick="search()">
            <!--<a href=""></a>-->
            <select class="sele" id="selected">
                <option value ="province">省</option>
                <option value ="city">市</option>
            </select>

        </div>
        <div class="st-link-way">
            <img class="link-way-ico" src="../images/24hours-ico.png" width="45" height="45">
            <div class="link-way-txt">
                <em>888-8888888</em>
            </div>
        </div>
    </div>
</div>
<!--搜索框结束-->

<!--导航开始-->
<div class="st-nav">
    <div class="wm-1200">
        <div class="st-global">
            <div class="global-bt">农家乐导航</div>
            <div class="global-list">
                <%province.forEach(function (provinces) {%>
                <div class="gl-list-tabbox">
                    <h3 class="">
                        <strong>
                            <em>
                                <img src="http://www.chengdukanghui.com/res/images/usernav.png">
                            </em>
                            <a href="http://localhost:8888/listing?id=<%=provinces.provinceid%>"><%= provinces.province %></a>
                        </strong>
                        <p>
                            <% city.forEach(function (citys) {
                            if(provinces.provinceid==citys.provinceid) {%>
                            <a href="http://localhost:8888/listing_city?id=<%=citys.cityid%>"><%=citys.city%></a>
                            <%}})%>
                        </p>
                        <i class="arrow-rig"></i>
                    </h3>
                    <div class="tabcon-item" >
                        <div class="item-list">
                            <% city.forEach(function (citys) {
                            if(provinces.provinceid==citys.provinceid) {%>
                            <dl>
                                <dt>
                                    <a href="http://localhost:8888/listing_city?id=<%=citys.cityid%>"><%=citys.city%></a>
                                </dt>
                                <dd>
                                </dd>
                            </dl>
                            <%}})%>
                        </div>
                        <div class="ad-box">   </div>
                    </div>
                </div>
                <%  });%>
            </div>
        </div>
    </div>
</div>
<!--导航结束-->

<!--轮播图开始-->
<div class="st-focus-banners">
    <ul >
        <%farm.forEach(function (farms) {%>
        <li><img src=<%=farms.pic01%>>
            <%})%>
    </ul>
    <ol>
        <!--里面记得写数字，不然就只有空的方块了-->
        <li class="current">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol>
</div>
<!--轮播图结束-->

<!--热门农家乐开始-->
<div class="st-slideTab">
    <div class="st-tabnav">
        <div class="nav-header">
            <h3 class="hot">热门农家乐</h3>
        </div>
        <div class="fh5co-listing">
            <div class="container">
                <div class="row">
                    <%farm.forEach(function (farms) {%>
                    <div class="col-md-4 col-sm-4 fh5co-item-wrap">
                        <a class="fh5co-listing-item" href="http://localhost:8888/gallery?id=<%=farms.farmId%>">
                            <img src=<%=farms.pic01%> alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
                            <div class="fh5co-listing-copy">
                                <h2><%=farms.area%></h2>
                                <span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
                            </div>
                        </a>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</div>
<!--热门农家乐结束-->

<!--特色农家乐开始-->
<div class="st-slideTab heg">
    <div class="st-tabnav">
        <div class="nav-header">
            <h3 class="hot">特色农家乐</h3>
        </div>
        <div class="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fh5co-news">
                        <ul>
                            <% for(var i=0;i<3;i++) {%>
                            <li>
                                <a href="http://localhost:8888/gallery?id=<%=farm[i].farmId%>">
                                    <span class="fh5co-date">特色农家乐</span>
                                    <h3>简短介绍</h3>
                                    <p><%=farm[i].shortInfo%></p>
                                </a>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="col-md-6 fh5co-testimonial">
                        <% for(var i=0;i<3;i++){ %>
                            <img src=<%=farm[i].pic01%> style="width: 557px;height: 285px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive mb20">
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--特色农家乐结束-->

<!--底部开始-->
<div class="copy-right">
    <div class="container">
        <p>Copyright © 2018.特色农家乐 <a href="#" target="_blank" title="农家乐">农家乐</a> - Collect from <a href="#" title="农家乐" target="_blank">农家乐</a></p>
    </div>
</div>
<!--底部结束-->
</body>
<script>
    // function user() {
    var loginstatus = document.getElementById('loginstatus');
    var strCookie=document.cookie;
    var arrCookie=strCookie.split("; ");
    var userId;
    for(var i=0;i<arrCookie.length;i++){
        var arr=arrCookie[i].split("=");
        if("username"==arr[0]){
            userId=arr[1];
            break;
        }
    }
    console.log("user "+userId);
    if(userId==undefined) {
        loginstatus.innerHTML = '<a class="dl" href="login">登录</a>\n' +
            '                <a class="zc" href="login">免费注册</a>';
    }
    else {
        loginstatus.innerHTML = '<a class="dl" href="personal">个人中心</a>\n' +
            '                <a class="zc" onclick="exit('+userId+')">退出</a>';
    }

    function exit(userId) {
        var date=new Date();
        date.setTime(date.getTime()-10000);
        document.cookie="username="+userId+"; expires="+date.toGMTString();
        location.href="index";
    }

    function search() {
        var searchid = document.getElementById('st-top-search').value;
        var obj = document.getElementById("selected"); //定位id
        var index = obj.selectedIndex; // 选中索引
        var text = obj.options[index].value; // 选中文本
        if(text=='province') {
            var url = "http://localhost:8888/listing_id";
            $.ajax({
                url: url,
                type: "POST",
                data: {province: searchid},
                success: function (responseStr) {
                    var data = JSON.parse(responseStr);
                    if(data.result.length==0) {
                        alert("搜索失败！");
                        location.href="index";
                    }
                    else {
                        var provinceid = data.result[0].provinceid;
                        console.log(data);
                        location.href="listing?id="+provinceid;
                    }
                },
                error: function (responseStr) {

                }
            });
        }
        else if(text=='city') {
            var url = "http://localhost:8888/listing_cityid";
            $.ajax({
                url: url,
                type: "POST",
                data: {city: searchid},
                success: function (responseStr) {
                    var data = JSON.parse(responseStr);
                    console.log(data);
                    if(data.result.length==0) {
                        alert("搜索失败！");
                        location.href="index";
                    }
                    else {
                        var cityid = data.result[0].cityid;
                        console.log(data);
                        location.href="listing_city?id="+cityid;
                    }
                },
                error: function (responseStr) {

                }
            });
        }

    }

</script>