
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>登录/注册</title>

	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Style --> <link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
</head>
<!-- //Head -->

<!-- Body -->
<body>

<h1>登录/注册</h1>

<div class="container w3layouts agileits">

	<div class="login w3layouts agileits">
		<h2>登 录</h2>
		<form action="#" method="post">
			<input type="text" id="LoginName" Name="Userame" placeholder="电话号码 / 邮箱" required="">
			<input type="password" id="LoginPass" Name="Password" placeholder="密码" required="">
		</form>
		<div class="send-button w3layouts agileits">
			<input onclick="login()" type="submit" value="登 录">
		</div>
		<a href="#">忘记密码?</a>
		<div class="social-icons w3layouts agileits">
			<p>- 其他方式登录 -</p>
			<ul>
				<li class="qq"><a href="#">
					<span class="icons w3layouts agileits"></span>
					<span class="text w3layouts agileits">QQ</span></a></li>
				<li class="weixin w3ls"><a href="#">
					<span class="icons w3layouts"></span>
					<span class="text w3layouts agileits">微信</span></a></li>
				<li class="weibo aits"><a href="#">
					<span class="icons agileits"></span>
					<span class="text w3layouts agileits">微博</span></a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div class="clear"></div>
	</div><div class="copyrights">Collect from <a href="#" >农家乐</a></div>
	<div class="register w3layouts agileits">
		<h2>注 册</h2>
		<form action="#" method="post">
			<input id="regname" type="text" Name="Name" placeholder="电话号码 / 邮箱" required="">
			<input id="regpasswd" type="password" Name="Password" placeholder="密码" required="">
		</form>
		<div class="send-button w3layouts agileits">
			<!--<form>-->
			<input onclick="register()" type="submit" value="免费注册">
			<!--</form>-->
		</div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>

</div>

<div class="footer w3layouts agileits">
	<p>Copyright &copy; More Templates <a href="#" target="_blank" title="农家乐">农家乐</a> - Collect from <a href="#" title="农家乐" target="_blank">农家乐</a></p>
</div>

</body>
<!-- //Body -->

<script>
    // 注册
    function register() {
        var user = document.getElementById('regname').value;
        var passwd = document.getElementById('regpasswd').value;
        var pass = hex_md5(passwd);
        var url = "http://localhost:8888/register";
        $.ajax({
            url: url,
            type: "POST",
            data: {user: user, passwd: pass},
            success: function (register) {
                var data = JSON.parse(register);
                if(data.result==false) {
                    alert("注册失败");
                    location.href="login";
                }
                else  {
                    alert("注册成功");
                    location.href="login";
                }
            }
        });
    }

    //登录
    function login() {
        var user = document.getElementById('LoginName').value;
        var passwd = document.getElementById('LoginPass').value;
        var pass = hex_md5(passwd);
        var url = "http://localhost:8888/login_in";
        $.ajax({
            url: url,
            type: "POST",
            data: {user: user, passwd: pass},
            success: function (register) {
                var data = JSON.parse(register);
                if(data.result==false) {
                    alert("登录失败");
                    location.href="login";
                }
                else  {
                    document.cookie="username="+user;
                    location.href="index";
                }
            }
        });
    }

</script>

</html>